---
layout: default
---

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/assets/img/background.jpg');">
    <div class="container" style="padding-bottom: 150px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ site.title }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ site.subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    {{ content }}

    {% for post in site.posts limit : 3 %}
      {% include post_item.html post=post %}

      {% if forloop.last == false %}
        <hr>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
