---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.heading_image %}{{page.heading_image}}{% else %}{{ site.default_background }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}unknown author{% endif %} on {{ page.date | date: "%B %-d, %Y" }} in {{ page.categories| first | capitalize}} &middot; {% include read_time.html content=page.content %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            {% if page.toc %}
            <div class="hidden-lg col-sm-12 col-md-offset-1 col-md-10 hidden-print">
              <div class="toc">
                  <h4>Table of Contents</h4>
                  {{ content | toc_only }}
              </div>
              <hr>
            </div>
            {% endif %}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center hidden-print">
                    {% if page.previous.url %}
                    <li>
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" class="btn btn-default btn-md"><span class="fa-stack fa-sm"><i class="fa-solid fa-circle fa-stack-2x"></i><i class="fa-solid fa-arrow-left fa-stack-1x fa-inverse"></i></span> Poprzedni odcinek</a>
                    </li>
                    {% endif %}
                    <li><a href="/episodes" data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-md"><span class="fa-stack fa-sm"><i class="fa-solid fa-circle fa-stack-2x"></i><i class="fa-solid fa-arrow-up fa-stack-1x fa-inverse"></i></span></a></li>
                    {% if page.next.url %}
                    <li>
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}" class="btn btn-default btn-md">Następny odcinek <span class="fa-stack fa-sm"><i class="fa-solid fa-circle fa-stack-2x"></i><i class="fa-solid fa-arrow-right fa-stack-1x fa-inverse"></i></span></a>
                    </li>
                    {% endif %}
                </ul>

                {% if page.description %}
                    <h2>Opis</h2>
                    <p>{{ page.description }}</p>
                {% endif %}

                {% if page.people %}
                    <h2>Osoby</h2>
                    <ul>
                      <li><a href="/osoby/wnowicki">Wojciech Nowicki (host)</a></li>
                    {% for person in page.people %}
                        {% assign contributor = site.people | where: "code", person | first %}
                        {% if contributor %}
                        <li><a href="{{ contributor.url }}">{{ contributor.name | prepend: contributor.prefix }}</a></li>
                        {% else %}
                        <li>{{ person }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if page.spotify.id %}
                    {% include spotify.html id=page.spotify.id %}
                {% endif %}

                <ul class="list-inline text-center hidden-print">
                  {% if page.spotify.url %}
                    <li><a href="{{ page.spotify.url }}" class="btn btn-default btn-md"><span class="fa-stack"><i class="fa-brands fa-spotify fa-stack-2x"></span></i> Słuchaj w Spotify</a></li>
                  {% endif %}
                  {% if page.apple.url %}
                    <li><a href="{{ page.apple.url }}" class="btn btn-default btn-md"><span class="fa-stack"><i class="fa-brands fa-apple fa-stack-2x"></span></i> Słuchaj w Apple Podcasts</a></li>
                  {% endif %}
                  {% if page.youtube.url %}
                    <li><a href="{{ page.youtube.url }}" class="btn btn-default btn-md"><span class="fa-stack"><i class="fa-brands fa-youtube fa-stack-2x"></span></i> Oglądaj na YouTube</a></li>
                  {% endif %}
                </ul>
                {{ content }}

                <hr>
                <ul class="list-inline"><li>Category:</li><li><a href="{{ site.baseurl }}/categories/{{ page.categories | first }}"><strong>{{ page.categories | first | capitalize }}</strong></a></li></ul>
                {% if page.tags.size > 0 %}
                <ul class="list-inline">
                    <li>Tags:</li>
                    {% for tag in page.tags %}
                        <li><span class="label label-default"><a href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }} ({{ site.tags[tag]|size  }})</a></span></li>
                        <!-- <li><a href="/blog/tags#{{ tag }}" class="btn btn-default btn-xs">{{ tag }} <span class="badge">{{ site.tags[tag]|size  }}</span></a></li> -->
                    {% endfor %}
                </ul>
                {% endif %}

                <ul class="pager hidden-print">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Poprzedni odcinek</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Następny odcinek &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
            {% if page.toc %}
            <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                <div class="toc">
                    <h4>Table of Contents</h4>
                    {{ content | toc_only }}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</article>

<hr>
